<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap');

body{
  background-color: #fff;
  font-family: 'DM Mono', monospace;
}

a{
  text-decoration: none;
  color: cyan;
}

a:hover{
  text-decoration: none;
  color: green;
}

img{
  width: 100%;
}

#navbar{
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 100;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lista-sm{
  display: block;
}

#navbar li{
  float: left;
}

#navbar li a{
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  color: #fff;
}

#navbar li.active a{
  background-color: #444;
  color: #fff;
}

#navbar li a:hover{
  background-color: #fff;
  color: #000;
}

form{
  max-width: 750px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 auto;
}

form div{
  padding: 15px;
}

input{
  width: 90%;
  display: block;
}

button{
  width: 90%;
  height: 50px;
  padding: 15px;
}

.myicon{
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  display: none;
}

#content{
  max-width: 1180px;
  position: relative;
  top: 80px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2%;
}

#content header{
  height: 100px;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 1em;
}

#principal {
  width: 40%;
  float: left;
  padding: 5px;
}

#second {
  width: 40%;
  float: left;
  padding: 5px;
}

aside {
  width: 20%;
  float: left;
  padding: 5px;
}

#content footer {
  clear: both;
  width: 100%;
  background-color: #ddd;
  height: 75px;
  padding: 25px;
}

#service1 {
  width: 33%;
  float: left;
  padding: 5px;
}

#service2 {
  width: 33%;
  float: left;
  padding: 5px;
}

#service3 {
  width: 33%;
  float: left;
  padding: 5px;
}

@media screen and (max-width: 820px){
  #content{
    padding: 0;
    max-width: 100%;
  }

  #content header{
    border-radius: 0;
    height: 100px;
    padding: 10px 20px;
  }

  #principal{
    float: left;
    padding: 3%;
    width: 45%;
  }

  #second{
    float: right;
    padding: 3%;
    width: 45%;
  }

  #service1{
    float: left;
    padding: 3%;
    width: 45%;
  }

  #service2{
    float: right;
    padding: 3%;
    width: 45%;
  }

  #service3{
    clear: both;
    float: right;
    padding: 5%;
    width: 100%;
  }

  #content aside{
    clear: both;
    padding: 5%;
    width: 100%;
  }
  
  #content footer{
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 600px){
  #content{
    width: auto;
  }

  #content header{
    height: 120px;
  }

  #content h1{
    font-size: 200%;
  }

  #principal{
    float: none;
    width: auto;
    margin: 0px;
  }
  
  #second{
    float: none;
    width: auto;
    margin: 0px;
  }

  #service1{
    float: none;
    width: auto;
    margin: 0px;
  }

  #service2{
    float: none;
    width: auto;
    margin: 0px;
  }

  #service3{
    padding: 0;
    width: auto;
  }

  #content aside{
    padding: 0;
    width: auto;
  }
  
  #content footer{
    width: auto;
  }
  
  .lista-sm{
    display: none;
  }
  
  #navbar li{
    float: none;
    display: block;
  }
  
  #navbar li a{
    padding: 5px;
    text-align: left;
    width: 100%;
  }
  
  .myicon{
    display: block;
    text-align: right;
  }
}
=======
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap');

body{
  background-color: #fff;
  font-family: 'DM Mono', monospace;
}

a{
  text-decoration: none;
  color: cyan;
}

a:hover{
  text-decoration: none;
  color: green;
}

img{
  width: 100%;
}

#navbar{
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 100;
}

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lista-sm{
  display: block;
}

#navbar li{
  float: left;
}

#navbar li a{
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  color: #fff;
}

#navbar li.active a{
  background-color: #444;
  color: #fff;
}

#navbar li a:hover{
  background-color: #fff;
  color: #000;
}

form{
  max-width: 750px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 auto;
}

form div{
  padding: 15px;
}

input{
  width: 90%;
  display: block;
}

button{
  width: 90%;
  height: 50px;
  padding: 15px;
}

.myicon{
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  display: none;
}

#content{
  max-width: 1180px;
  position: relative;
  top: 80px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2%;
}

#content header{
  height: 150px;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 1em;
}

#principal {
  width: 40%;
  float: left;
  padding: 5px;
}

#second {
  width: 40%;
  float: left;
  padding: 5px;
}

aside {
  width: 20%;
  float: left;
  padding: 5px;
}

#content footer {
  clear: both;
  width: 100%;
  background-color: #ddd;
  height: 75px;
  padding: 25px;
}

#service1 {
  width: 33%;
  float: left;
  padding: 5px;
}

#service2 {
  width: 33%;
  float: left;
  padding: 5px;
}

#service3 {
  width: 33%;
  float: left;
  padding: 5px;
}

@media screen and (max-width: 820px){
  #content{
    padding: 0;
    max-width: 100%;
  }

  #content header{
    border-radius: 0;
    height: 200px;
    padding: 10px 20px;
  }

  #content h1{
  font-size: 50%;
}

  #principal{
    float: left;
    padding: 3%;
    width: 45%;
  }

  #second{
    float: right;
    padding: 3%;
    width: 45%;
  }

  #service1{
    float: left;
    padding: 3%;
    width: 45%;
  }

  #service2{
    float: right;
    padding: 3%;
    width: 45%;
  }

  #service3{
    clear: both;
    float: right;
    padding: 5%;
    width: 100%;
  }

  #content aside{
    clear: both;
    padding: 5%;
    width: 100%;
  }
  
  #content footer{
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 600px){
  #content{
    width: auto;
  }
  
  #principal{
    float: none;
    width: auto;
    margin: 0px;
  }
  
  #second{
    float: none;
    width: auto;
    margin: 0px;
  }

  #service1{
    float: none;
    width: auto;
    margin: 0px;
  }

  #service2{
    float: none;
    width: auto;
    margin: 0px;
  }

  #service3{
    padding: 0;
    width: auto;
  }

  #content aside{
    padding: 0;
    width: auto;
  }
  
  #content footer{
    width: auto;
  }
  
  .lista-sm{
    display: none;
  }
  
  #navbar li{
    float: none;
    display: block;
  }
  
  #navbar li a{
    padding: 5px;
    text-align: left;
    width: 100%;
  }
  
  .myicon{
    display: block;
    text-align: right;
  }
}
>>>>>>> 68dcd23d6a47ac47bca9ed2389376615056dc3fd
